.backgroundLogo {
  background: url('../img/wolf_screen.jpg') no-repeat;
  background-position: center;
  padding-top: 15px;
}


.headline {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  font-size: 300%;
  margin: 0 0 10px 10px;
}

.instruction {
  padding:0px;
}
