<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>InteracTV</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">

    
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Interac TV</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

     <div class="container">

        <div class="row">
            <div class="col-sm-7 videoUiWrapper thumbnail">
              <video id="example_video_1" style="width: 100%;" data-setup='{}' controls>
                  <source src="{{video.url}}" type="video/mp4">
              </video>
              <div class="videoController demo1" style="display: none;"><div class="progress progress-striped active" style="cursor:pointer"><div class="bar progressBar" style="width: 0%;"></div><div class="bar bufferBar" style="width: 40.69776672131682%; opacity: 0.5;"></div></div><a href="#" class="playMedia"><i class="icon-play icon-white"></i></a><h6 class="timer">00:00 / 00:59</h6><i class="mute icon-volume-up icon-white"></i><ul class="volumeMedia unstyled"><li class="on"></li><li class="on"></li><li class="on"></li><li class="on"></li><li class="on"></li><li></li><li></li><li></li><li></li><li></li><ul></ul></ul><i class="fullscreen icon-fullscreen icon-white"></i></div>
            </div>
        </div>
      
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/libs/bootstrap.min.js"></script>
    <script src="/static/js/libs/jquery.video-ui.js"></script>
  </body>
</html>
